In [16]:
from metabasepy import Client, MetabaseTableParser
import sqlite3

Подключение к Metabase

In [17]:
cli = Client(
#                 username="demo10@skillfactory.ru", # тот самый, который вам выдали
                username='demo@skillfactory.ru',
#                 password="t9vQJlErQ9WcMi", # и пароль к нему!
                password="k0SZ4kEUasr0Fb", # и пароль к нему!
                base_url="http://sql.skillfactory.ru:3000"
      )

cli.authenticate()

Доступные базы, нас интересует id базы Skillfactory.

In [11]:
asd = cli.databases.get()

In [4]:
asd

{'data': [{'description': None,
   'features': ['full-join',
    'basic-aggregations',
    'nested-field-columns',
    'standard-deviation-aggregations',
    'persist-models',
    'expression-aggregations',
    'percentile-aggregations',
    'foreign-keys',
    'right-join',
    'left-join',
    'native-parameters',
    'nested-queries',
    'expressions',
    'set-timezone',
    'regex',
    'case-sensitivity-string-filter-options',
    'binning',
    'inner-join',
    'advanced-math-expressions'],
   'cache_field_values_schedule': '0 0 18 * * ? *',
   'timezone': 'UTC',
   'auto_run_queries': True,
   'metadata_sync_schedule': '0 53 * * * ? *',
   'name': 'project_sql',
   'caveats': None,
   'creator_id': 1,
   'is_full_sync': True,
   'updated_at': '2022-10-27T11:31:25.513',
   'native_permissions': 'write',
   'cache_ttl': None,
   'is_sample': False,
   'id': 3,
   'is_on_demand': False,
   'options': None,
   'engine': 'postgres',
   'initial_sync_status': 'complete',
   'refingerprint': None,
   'created_at': '2022-10-27T11:31:24.876',
   'points_of_interest': None},
  {'description': 'Some example data for you to play around with as you embark on your Metabase journey.',
   'features': ['basic-aggregations',
    'standard-deviation-aggregations',
    'expression-aggregations',
    'foreign-keys',
    'right-join',
    'left-join',
    'native-parameters',
    'nested-queries',
    'expressions',
    'case-sensitivity-string-filter-options',
    'binning',
    'inner-join',
    'advanced-math-expressions'],
   'cache_field_values_schedule': '0 0 12 * * ? *',
   'timezone': 'UTC',
   'auto_run_queries': True,
   'metadata_sync_schedule': '0 43 * * * ? *',
   'name': 'Sample Database',
   'caveats': "You probably don't want to use this for your business-critical analyses, but hey, it's your world, we're just living in it.",
   'creator_id': None,
   'is_full_sync': True,
   'updated_at': '2023-03-03T02:43:00.066',
   'native_permissions': 'write',
   'cache_ttl': None,
   'is_sample': True,
   'id': 1,
   'is_on_demand': False,
   'options': None,
   'engine': 'h2',
   'initial_sync_status': 'complete',
   'refingerprint': None,
   'created_at': '2022-10-26T17:17:39.829',
   'points_of_interest': 'You can find all sorts of different joinable tables ranging from products to people to reviews here.'},
  {'description': None,
   'features': ['full-join',
    'basic-aggregations',
    'nested-field-columns',
    'standard-deviation-aggregations',
    'persist-models',
    'expression-aggregations',
    'percentile-aggregations',
    'foreign-keys',
    'right-join',
    'left-join',
    'native-parameters',
    'nested-queries',
    'expressions',
    'set-timezone',
    'regex',
    'case-sensitivity-string-filter-options',
    'binning',
    'inner-join',
    'advanced-math-expressions'],
   'cache_field_values_schedule': '0 0 18 * * ? *',
   'timezone': 'UTC',
   'auto_run_queries': True,
   'metadata_sync_schedule': '0 59 * * * ? *',
   'name': 'Skillfactory',
   'caveats': None,
   'creator_id': 1,
   'is_full_sync': True,
   'updated_at': '2022-11-21T14:26:15.403',
   'native_permissions': 'write',
   'cache_ttl': None,
   'is_sample': False,
   'id': 2,
   'is_on_demand': False,
   'options': None,
   'engine': 'postgres',
   'initial_sync_status': 'complete',
   'refingerprint': None,
   'created_at': '2022-10-26T17:20:29.316',
   'points_of_interest': None}],
 'total': 3}

список таблиц схемы Shipping

In [29]:
list_tables = '''SELECT table_name FROM information_schema.tables
                WHERE table_schema NOT IN ('information_schema', 'pg_catalog')
                AND table_schema IN('sql');
'''

In [30]:
tables_response = cli.dataset.post(database_id=2, query=list_tables)

tables_list = [col[0] for col in MetabaseTableParser.get_table(metabase_response=tables_response).rows]

In [31]:
tables_list

['temp',
 'store_carts',
 'vgsales',
 'store_delivery',
 'store_products',
 'store_customers',
 'kinopoisk',
 'pokemon',
 'teams',
 'players',
 'matches',
 'coffeeshop_custs',
 'coffeeshop_products',
 'safe',
 'truck',
 'city',
 'coffeeshop_sales',
 'customer',
 'driver',
 'shipment']

In [32]:
for table in tables_list:
    try:
        query_table = f'SELECT * FROM sql.{table} WHERE 1=1;'
        print(query_table)
        query_response = cli.dataset.post(database_id=2, query=query_table)
        data_table = MetabaseTableParser.get_table(metabase_response=query_response)

        dict_col_types = dict([(col['name'], col['base_type'].split('/')[1]) for col in data_table.cols])
        con = sqlite3.connect("Sql.db")

        table_rows = ', '.join([key + ' ' + value for key, value in dict_col_types.items()])
        sqlite_create_table = f'create table {table} ({table_rows});' 
        cur = con.cursor()
        cur.execute(sqlite_create_table)

        cur.executemany(f'INSERT INTO {table} VALUES({", ".join(list("?" * len(dict_col_types)))})', data_table.rows)
        con.commit()  # Remember to commit the transaction after executing INSERT.
    except Exception as ex:
        print(ex)

SELECT * FROM sql.temp WHERE 1=1;
SELECT * FROM sql.store_carts WHERE 1=1;
SELECT * FROM sql.vgsales WHERE 1=1;
SELECT * FROM sql.store_delivery WHERE 1=1;
SELECT * FROM sql.store_products WHERE 1=1;
SELECT * FROM sql.store_customers WHERE 1=1;
SELECT * FROM sql.kinopoisk WHERE 1=1;
SELECT * FROM sql.pokemon WHERE 1=1;
SELECT * FROM sql.teams WHERE 1=1;
SELECT * FROM sql.players WHERE 1=1;
SELECT * FROM sql.matches WHERE 1=1;
SELECT * FROM sql.coffeeshop_custs WHERE 1=1;
SELECT * FROM sql.coffeeshop_products WHERE 1=1;
SELECT * FROM sql.safe WHERE 1=1;
SELECT * FROM sql.truck WHERE 1=1;
SELECT * FROM sql.city WHERE 1=1;
SELECT * FROM sql.coffeeshop_sales WHERE 1=1;
SELECT * FROM sql.customer WHERE 1=1;
SELECT * FROM sql.driver WHERE 1=1;
SELECT * FROM sql.shipment WHERE 1=1;

In [ ]:
"INSERT INTO books VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

In [38]:
f'INSERT INTO books VALUES({", ".join(list("?" * len(dict_col_types)))})'

'INSERT INTO books VALUES(?, ?, ?, ?, ?)'

В файле содержится первая строка таблицы books с наименованиями колонок

In [ ]:
# with open('query_result_2023-02-25T16_15_25.031777Z.csv', encoding='utf-8') as file:
#     header = file.readline()
    
# теперь наименования колонок содержатся в переменной header

Формирование текста запроса, для получения данных из таблицы books

In [5]:
# books_sql = f'SELECT {header.strip()} FROM public.books WHERE 1=1;'

In [4]:
books_sql = f'SELECT * FROM public.books WHERE 1=1;'

Получение данных таблицы books из базы Skillfactory. id=2 - это id базы Skillfactory.

In [10]:
query_response = cli.dataset.post(database_id=2, query=books_sql)

data_table = MetabaseTableParser.get_table(metabase_response=query_response) # парсинг полученных данных

Просмотре первых двух строк из полученных данных

In [29]:
dict_col_types = dict([(col['name'], col['base_type'].split('/')[1]) for col in data_table.cols])

In [7]:
data_table.rows[0:2]

[[1975,
  'Beowulf',
  'Unknown, Seamus Heaney',
  'en-US',
  'Novice',
  3.42,
  155903,
  'genre fiction',
  'HarperCollins Publishers',
  1],
 [1987,
  'Batman: Year One',
  "Frank Miller, David Mazzucchelli, Richmond Lewis, Dennis O'Neil",
  'eng',
  'Intermediate',
  4.23,
  145267,
  'genre fiction',
  'HarperCollins Publishers',
  2]]

In [12]:
data_table.cols

[{'display_name': 'publishing_year',
  'source': 'native',
  'field_ref': ['field', 'publishing_year', {'base-type': 'type/Integer'}],
  'name': 'publishing_year',
  'base_type': 'type/Integer',
  'effective_type': 'type/Integer'},
 {'display_name': 'book_name',
  'source': 'native',
  'field_ref': ['field', 'book_name', {'base-type': 'type/Text'}],
  'name': 'book_name',
  'base_type': 'type/Text',
  'effective_type': 'type/Text'},
 {'display_name': 'author',
  'source': 'native',
  'field_ref': ['field', 'author', {'base-type': 'type/Text'}],
  'name': 'author',
  'base_type': 'type/Text',
  'effective_type': 'type/Text'},
 {'display_name': 'language_code',
  'source': 'native',
  'field_ref': ['field', 'language_code', {'base-type': 'type/Text'}],
  'name': 'language_code',
  'base_type': 'type/Text',
  'effective_type': 'type/Text'},
 {'display_name': 'author_rating',
  'source': 'native',
  'field_ref': ['field', 'author_rating', {'base-type': 'type/Text'}],
  'name': 'author_rating',
  'base_type': 'type/Text',
  'effective_type': 'type/Text'},
 {'display_name': 'book_average_rating',
  'source': 'native',
  'field_ref': ['field', 'book_average_rating', {'base-type': 'type/Decimal'}],
  'name': 'book_average_rating',
  'base_type': 'type/Decimal',
  'effective_type': 'type/Decimal'},
 {'display_name': 'book_ratings_count',
  'source': 'native',
  'field_ref': ['field', 'book_ratings_count', {'base-type': 'type/Integer'}],
  'name': 'book_ratings_count',
  'base_type': 'type/Integer',
  'effective_type': 'type/Integer'},
 {'display_name': 'genre',
  'source': 'native',
  'field_ref': ['field', 'genre', {'base-type': 'type/Text'}],
  'name': 'genre',
  'base_type': 'type/Text',
  'effective_type': 'type/Text'},
 {'display_name': 'publisher',
  'source': 'native',
  'field_ref': ['field', 'publisher', {'base-type': 'type/Text'}],
  'name': 'publisher',
  'base_type': 'type/Text',
  'effective_type': 'type/Text'},
 {'display_name': 'book_id',
  'source': 'native',
  'field_ref': ['field', 'book_id', {'base-type': 'type/Integer'}],
  'name': 'book_id',
  'base_type': 'type/Integer',
  'effective_type': 'type/Integer'}]

Словарь пар: имя колонки и тип

Загрузка полученных данных в DataFrame Pandas для просмотра

In [ ]:
import pandas as pd
books_header = header.strip().split(',')
books = pd.DataFrame(data_table.rows)
books.columns = books_header
books.head()

Импорт библиотеки sqlite3 и создание соединения (и файла) базы данных с именем Skkillfactory.db

In [ ]:
import sqlite3
con = sqlite3.connect("Skillfactory.db")

Формирование текста запроса для создания таблицы books

In [ ]:
sqlite_create_table = """create table books (
                                        publishing_year int,
                                        book_name,
                                        author,
                                        language_code,
                                        author_rating,
                                        book_average_rating decimal(5, 2),
                                        book_ratings_count int,
                                        genre,
                                        publisher,
                                        book_id id                        
                                        );"""

Создание таблицы books

In [ ]:
cur = con.cursor()
cur.execute(sqlite_create_table)

Проверка, что таблица с именем, начинающемся с books, создана

In [ ]:
res = cur.execute("SELECT name FROM sqlite_master where name like 'books%'")
res.fetchall()

Загрузка данных в созданную таблицу, количество "?" соответствует количеству колонок

In [ ]:
cur.executemany("INSERT INTO books VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", data_table.rows)
con.commit()  # Remember to commit the transaction after executing INSERT.

In [ ]:
Создание представления с именем my_view, текст запроса продиктован условиями задачи

In [ ]:
sqlit_create_view = '''
                    create view my_view as
                    SELECT
                        author,
                        count(book_id) as CountBooks,
                        max(publishing_year) as MaxPublishingYear,
                        count(distinct genre) as CountGenres,
                        count(DISTINCT publisher) as CountPublisher
                    FROM
                        books
                    GROUP by
                        author
                    ORDER by author
                    '''

cur.execute(sqlit_create_view)